<form class="wrapper" [formGroup]="form" (ngSubmit)="add()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>URL</mat-label>
    <input matInput formControlName="url">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Group</mat-label>
    <mat-select formControlName="group">
      <mat-option value="work">work</mat-option>
      <mat-option value="leisure">leisure</mat-option>
      <mat-option value="personal">personal</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">Send</button>
</form>
